*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans, "Helvetica Neue", Helvetica, sans-serif;
}
a{
	text-decoration: none;

}
header{
	box-shadow: 1px 1px 5px #ccc;
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

.container{
	width: 1200px;
	margin: auto;
}

nav{
	float: right;
	margin-top: 35px;
	font-weight: 700;
}
nav .active a{
color: #045690 ;
}
nav a:hover{
	color: #353535;
}

nav ul li{
list-style: none;
text-transform: uppercase;
float: left;
	
}

nav ul li a{
	text-decoration: none;
		padding: 5px 8px;
		color: #848c25;
}

.logo{
	float: left;
	padding-top: 1px;
}

.clear{clear: both;}

main{
	margin-top: 7px;
}

h2{
	text-transform: uppercase;
	margin: 20px 0px;
	padding-top: 20px;
}
.featured{
	text-align: center;
	margin-bottom: 20px;
	color:#333;
	}

.featured img{
	margin: 10px;	
}

.featured h2{
	color: #307bd1;
}

.destinations{
	background: url(../images/bg.jpg);
	width: 100%;
	color: #bdbdbd;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.destinations img{
	margin: 10px;
}

.destinations h2{
	color: #e4e4e4;
}

.weather{
	background-color: lightgrey;
	
		}

.weather .content, .peace .content {
	width: 56%;
	
	padding-left: 20px;
	
}
.weather .img{
	float: right;
}
.weather .content{
	float: left;
}

.peace img, .weather .img{
	height: 300px;
	width: 456px;
}

.peace{
	background-color: lightgrey;
	
	margin-top: 20px;
	}

		.peace .img{float: left;}
 .peace .content {
 	float: right;
 	text-decoration: none;
 }


 .contact{
 	padding: 40px 0 80px 0;
 	margin-top: 120px;
 	color: #fff;
 	background: url(../images/blur-contact.jpg);
 	background-size: cover;
	background-position: left;
 }
 .contact a{
 	color: #fff;
 }
 .contact .map{float: left;}
 .contact .detail{float: right;}
 .contact p{
 	margin-top: 15px;
 }

 footer .left{float: left;}
 footer .right{float: right;}
 footer	{
 	padding: 20px 0;
 	background-color: #1b4485;
 	color: white;
 }